<!DOCTYPE html>
<html lang="eng">
    <head>
        {{>headerLinks}}
        <link rel="stylesheet" href="css\style.css">
    </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_left align-items-center">
              <figure class="error_image">
                <img src="images/404.webp" alt="kingpin" class="img-fluid" tilte="Ishan">
              </figure>
                </div>
              <p>Bad Request</p>
              <h1>{{errorMsg}}</h1>
              <a href = "/" target><button>Go Back</button></a>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>