<!DOCTYPE html>
<html lang="eng">
    <head>
        {{>headerLinks}}
    </head>
  <body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img src="images/about-app.webp" alt="kingpin" class="img-fluid" tilte="Ishan">
              </figure>
                </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App!</p>
              <p>This is a weather web application. Using this application user can find out the Latitude, Longitude, and real time weather condition of the desired city.</p> 
              <p>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>